.sidebar {
    width: $sidebar-width;
    border-right: 1px solid $gray-300;
    background: theme-color-level(pay-100, -2);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .sidebar-title {
        padding: 1.4em 1em;

        .media {
            img {
                width: 32px;
                height: 32px;
            }
        }

        a {
            top: 28px;
            right: 0;

            & :hover {
                text-decoration: none;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }

    .navigation {

        flex-grow: 1;
        overflow-y: auto;
        height: calc(100% - 145px);

            li {
                list-style: none;
        
                a {
                    color: $gray-800;
                    padding: 0.75rem 1.5rem;
                    text-decoration: none;

                    svg {
                        color: $gray-800;
                    }

                    &:hover {
                        background: theme-color(pay-300);
                    }
                }

                .active {
                    color: black;
                    border-right: 0.25rem solid theme-color-level(pay-400, 2);
                    padding-right: 1.25rem;
                    background: theme-color-levle(pay-100, 1);
                }
            }
    }

    #sidebar-profile {
        position: fixed;
        bottom: 0;
        background: #313b4c;
        width: $sidebar-width;
        padding: 0.7em 1em;

        .media {
            margin: 0 auto;
        }

        .media-body {
            font-size: 0.9rem;
            
            a {
                color: #e9ecef;
                font-size: 1rem;
                font-weight: normal;
                text-transform: capitalize;
            }
        }
        h5 {
            font-size: 14pt;
            font-weight: 700;
        }
    }
}