.sidebar {
    width: $sidebar-width;
    background: $sidebar-color;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .sidebar-title {
        padding: 1.4em 1em;

        .media {
            img {
                width: 32px;
                height: 32px;
            }
        }

        a {
            color: #ced4da;
            top: 28px;
            right: 0;

            & :hover {
                text-decoration: none;
                color: white;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }

    .navigation {

        flex-grow: 1;
        overflow-y: auto;
        height: calc(100% - 145px);

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
        
                a {
                    color: #ced4da;
                    padding: 0.75rem 1.5rem;
                    text-decoration: none;
        
                    &:hover {
                        background: #2D3646;
                        color: #e9ecef;
                    }
                }
            }
        }
    }

    #sidebar-profile {
        position: fixed;
        bottom: 0;
        background: #313b4c;
        width: $sidebar-width;
        padding: 0.7em 1em;

        .media {
            margin: 0 auto;
        }

        .media-body {
            font-size: 0.9rem;
            
            a {
                color: #e9ecef;
                font-size: 1rem;
                font-weight: normal;
                text-transform: capitalize;
            }
        }
        h5 {
            font-size: 14pt;
            font-weight: 700;
        }
    }
}