$theme-colors: (
  "pay-0": #e0f7fa,
  "pay-100": #80deea,
  "pay-200": #26c6da,
  "pay-300": #00acc1
);

$base-color: #ffffff;

$primary-color: #addff7;
$primary-50: rgba($primary-color, 0.50);

$sidebar-color: #f0f3f8;

$sidebar-width: 250px;