@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.wrapper {
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @import 'sidebar';

    .content {
        width: 100%;
        padding-left: $sidebar-width;

        .content-title {
            padding: 0.3em 0.2em;
        }

        .content-body {

            .note-list {
                padding-left: 0;

                .notes {
                    list-style: none;
                    padding: 1.3em 0 1em 0;
                    border-bottom: 1px solid #E5E9F2;

                    a {
                        color: #333333;

                        &:hover {
                            text-decoration: none;
                            color: #000000;
                            font-weight: 500;
                        }
                    }
                }

                .note-info {
                    padding-left: 0;

                    .infos {
                        list-style: none;
                        padding-right: 1.2em;

                        i {
                            padding-right: .3em;
                        }
                    }
                }
            }
        }
    }
}